@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilo por defecto para el contenedor del gráfico */
.chart-container {
  height: 350px;
  /* Altura por defecto para escritorio */
  width: 100%;
}

/* Consulta de medios para dispositivos con ancho menor a 600px (dispositivos móviles generalmente) */
@media (max-width: 600px) {
  .chart-container {
    height: 400px;
    /* Aumenta la altura del gráfico para móviles */
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

.tabular-nums {
  font-feature-settings: "tnum";
}
