@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  color: rgb(var(--foreground-rgb));
  /* Elimina la declaración de background linear-gradient */
  @apply bg-gray-100; /* Agregar la clase bg-gray-100 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Estilo por defecto para el contenedor del gráfico */
.chart-container {
  height: 350px;
  /* Altura por defecto para escritorio */
  width: 100%;
}

/* Consulta de medios para dispositivos con ancho menor a 600px (dispositivos móviles generalmente) */
@media (max-width: 600px) {
  .chart-container {
    height: 400px;
    /* Aumenta la altura del gráfico para móviles */
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px)
  }
}
